html{
  font-size: 16px;
}
body{

}
.align_center{
  display: flex;
  align-items: center;
}

#header_image > img{
  margin: 0px;
}
#header_image{
  padding-left: 0px;
}
li.active{
  color:#37c2aa;
}
.jumbotron{
  background-image: url( "https://s3.amazonaws.com/codecademy-content/programs/freelance-one/unit-7/adhoc/jumbotron.png");
  height: 43.5rem;
  margin-bottom: 7rem;
  background-position: center;
  background-size: cover;
}
.quote_box{
  margin-bottom: 9.25rem;
  display: flex;
  flex-direction:column;
  align-items: center;
}
.name, .quote{
  width: 83%;
}
.name{
  font-family: 'roboto';
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.4;
}
.quote{
  font-family: 'Droid Serif';
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.3;
  color:#4a4a4a;
}
.why h1{
  font-family: 'Arbutus Slab', serif;
  font-size: 3rem;
  position:relative;
  top: -46px;
  width: 294px;
  padding: 0px;
  background-color: white;
}
.why{
  border-top: 1px solid #d4d5d6;
  display: flex;
  justify-content: center;
  margin-bottom: 2.25rem;
}
